.scroller{
    background-color: black;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 100px;
}
.scroll-window {
    height: 100px;
    overflow-y: hidden;
}
.scroll-container {
    animation: scroll infinite ease-in-out;
    animation-duration: 3s;
}
.scrolling {
    line-height: 100px;   
    margin-bottom: 5px;
    color: red;
}
.tedx {
    color: white;
}
@-moz-keyframes scroll {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-105px);
    }
    50% {
        transform: translateY(-210px);
    }
    75% {
        transform: translateY(-315px);
    }
    100% {
        transform: translateY(-420px);
    }
}
@-webkit-keyframes scroll {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-105px);
    }
    50% {
        transform: translateY(-210px);
    }
    75% {
        transform: translateY(-315px);
    }
    100% {
        transform: translateY(-420px);
    }
}
@-o-keyframes scroll {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-105px);
    }
    50% {
        transform: translateY(-210px);
    }
    75% {
        transform: translateY(-315px);
    }
    100% {
        transform: translateY(-420px);
    }
}
@keyframes scroll {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-105px);
    }
    50% {
        transform: translateY(-210px);
    }
    75% {
        transform: translateY(-315px);
    }
    100% {
        transform: translateY(-420px);
    }
}
