.sponsors img {
    width: 30%;
    border: none;
}

@media screen and (max-width: 600px) {
    .sponsors img {
        width: 90%;
    }
}

.sponsors {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
}